#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.inventory {
  border: 2px #747bff solid;
  border-radius: 10px;
}

.items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.item {
  width: 4.5rem;
  height: 4.5rem;
  padding: 0.5rem;
  margin: 0.25rem;
  opacity: 60%;
}

.item img {
  object-fit: contain;
  width: 100%;
}

.item.active {
  opacity: 100%;
}
