#root {
  max-width: 2000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-width: auto;
}

.tracker {
  display: flex;
  gap: 1rem;
  height: 90vh;
}

.inventory {
  padding: 10px;
  flex-basis: 20%;
  flex-shrink: 1;
  box-sizing: border-box;
}

.items,
.masks {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 2rem;
}

.songs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 2rem;
}

.remains {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.item {
  max-width: 2.75rem;
  max-height: 2.75rem;
  min-width: 2rem;
  min-height: 2rem;
  padding: 0.1rem;
  margin: 0.2rem;
  opacity: 30%;
  position: relative;
  user-select: none;
}

.item img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.item.in-inventory {
  opacity: 100%;
}

.item-quantity {
  color: lawngreen;
  font-weight: bolder;
  position: absolute;
  bottom: -15px;
  right: 0;
}

.check-list {
  overflow-y: auto;
  background: #1a1a1a;
  flex-basis: 25%;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px #747bff solid;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.region,
.check {
  border: solid 0.25rem;
  border-radius: 5px;
  height: 3rem;
  padding: 0.5rem;
  /*max-width: 50rem;*/
  font-weight: bolder;
  display: flex;
  align-items: center;
}

.region {
  font-size: 1.5rem;
  justify-content: center;
}

.check {
  font-size: 1.25rem;
  justify-content: start;
  position: relative;
}

.check.active {
  color: lightgreen;
}

.check.peek {
  color: yellow;
}

.check.inactive {
  color: lightcoral;
}

.check.complete {
  color: dimgray;
}

.song-icon {
  position: absolute;
  right: 10px;
  font-size: 1.75rem;
}

.check-list button {
  width: 100%;
  padding: 0;
  margin: 0;
}

button:hover {
  color: #747bff;
}

.map {
  position: relative;
  background-color: #242424;
  flex-basis: 55%;
  flex-grow: 1;
  flex-shrink: 1;
  height: fit-content;
  min-width: 750px;
  max-height: 700px;
}
.map img {
  width: 100%;
}

.marker {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  border: solid #1a1a1a 0.15rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.25em 0.2em 0.2em #1a1a1a;
}

.marker span {
  font-weight: bolder;
  color: #1a1a1a;
}

.marker.inaccessible {
  background: lightcoral;
}

.marker.partial-clear {
  background: yellow;
}

.marker.full-clear {
  background: lightgreen;
}

.marker.clear {
  background: grey;
}

.marker.hidden {
  display: none;
}

#marker-nct {
  top: 6%;
  left: 11%;
}

#marker-sct {
  top: 29%;
  left: 11%;
}

#marker-ctr {
  top: 13.5%;
  left: 10.5%;
}

#marker-wct {
  top: 23%;
  left: 2%;
}
#marker-ect {
  top: 23%;
  left: 20%;
}

#marker-lp {
  top: 32%;
  left: 2%;
}

#marker-spi {
  top: 15%;
  left: 16%;
}

#marker-tf {
  top: 59%;
  left: 55%;
}

#marker-rsw {
  top: 67%;
  left: 53%;
}

#marker-mr {
  top: 57%;
  left: 50%;
}

#marker-rr {
  top: 62%;
  left: 46%;
}

#marker-ssw {
  top: 77%;
  left: 65%;
}

#marker-pal {
  top: 88%;
  left: 50%;
}

#marker-wf {
  top: 85%;
  left: 56%;
}

#marker-gbc {
  top: 56%;
  left: 28%;
}

#marker-zc {
  top: 65%;
  left: 28%;
}

#marker-zh {
  top: 65%;
  left: 21%;
}

#marker-pfe {
  top: 40%;
  left: 29%;
}

#marker-pfi {
  top: 34%;
  left: 30%;
}

#marker-pfs {
  top: 39%;
  left: 33%;
}

#marker-pr {
  top: 49%;
  left: 13.5%;
}

#marker-vil {
  top: 33%;
  left: 55%;
}

#marker-twi {
  top: 25%;
  left: 52%;
}

#marker-gor {
  top: 20%;
  left: 60%;
}

#marker-psh {
  top: 18%;
  left: 48%;
}

#marker-rti {
  top: 50%;
  left: 62%;
}

#marker-gy {
  top: 42%;
  left: 68%;
}

#marker-shr {
  top: 38%;
  left: 78%;
}

#marker-can {
  top: 48%;
  left: 78%;
}

#marker-well {
  top: 38%;
  left: 84%;
}

#marker-cas {
  top: 47%;
  left: 83%;
}

#marker-st {
  top: 32%;
  left: 95%;
}

#marker-wft {
  top: 78%;
  left: 55%;
}

#marker-sht {
  top: 6%;
  left: 48%;
}

#marker-gbt {
  top: 58%;
  left: 6%;
}

#marker-stt {
  top: 39%;
  left: 95%;
}
