#root {
  width: 1700px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-width: auto;
}

.tracker {
  display: flex;
  gap: 0.5rem;
  height: 60rem;
}

.inventory {
  border: 2px #747bff solid;
  border-radius: 10px;
}

.items,
.masks {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 2rem;
}

.item {
  width: 2.75rem;
  height: 2.75rem;
  padding: 0.1rem;
  margin: 0.2rem;
  opacity: 30%;
  position: relative;
}

.item img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.item.in-inventory {
  opacity: 100%;
}

.item-quantity {
  color: lawngreen;
  font-weight: bolder;
  position: absolute;
  bottom: -15px;
  right: 0;
}

.check-list {
  overflow-y: auto;
  padding-right: 0.5rem;
  background: #1a1a1a;
  flex-basis: 350px;
  flex-shrink: 0;
  flex-grow: 1;
}

.region,
.check {
  font-size: 1.5rem;
  border: solid 0.25rem;
  border-radius: 5px;
  height: 3rem;
  padding: 0.5rem;
  max-width: 50rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 100%;*/
}

.check.active {
  color: lightgreen;
}

.check.peek {
  color: yellow;
}

.check.inactive {
  color: lightcoral;
}

.check.complete {
  color: dimgray;
}

.check-list button {
  width: 100%;
  padding: 0;
  margin: 0;
}

button:hover {
  color: #747bff;
}

.map {
  background-image: url("/overworld.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  position: relative;
  background-color: #242424;
  flex-basis: 1000px;
  flex-grow: 1;
  flex-shrink: 0;
}

.marker {
  width: 1rem;
  height: 1rem;
  position: absolute;
  border: solid white 0.15rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.marker.inaccessible {
  background: lightcoral;
}

.marker.partial-clear {
  background: yellow;
}

.marker.full-clear {
  background: lightgreen;
}

.marker.hidden {
  display: none;
}

#marker-nct {
  top: 3%;
  left: 11%;
}

#marker-sct {
  top: 18%;
  left: 11%;
}

#marker-ctr {
  top: 10%;
  left: 11%;
}

#marker-wct {
  top: 10%;
  left: 3%;
}
#marker-ect {
  top: 15%;
  left: 20%;
}

#marker-lp {
  top: 20%;
  left: 3%;
}

#marker-spi {
  top: 11%;
  left: 17%;
}

#marker-tf {
  top: 36%;
  left: 55%;
}

#marker-rsw {
  top: 42%;
  left: 53%;
}

#marker-mr {
  top: 36%;
  left: 50%;
}

#marker-rr {
  top: 40%;
  left: 46%;
}
